<div class="container d-flex align-items-center justify-content-center">
    <button (click)="pauseVideo()">Pause Video</button>
    <button (click)="playVideo()">Play Video</button>

    <div class="parent-div">
        <div id="azuremediaplayer" class="azuremediaplayer amp-default-skin"></div>
        <div id="canvas-wrapper">
            <div #canvas class="canvas-container">
                <!-- (wheel)="onCanvasZoom($event)" [ngStyle]="{ transform: 'scale(' + zoomScale + ')' }" -->
                <div cdkDragBoundary=".canvas-container" *ngFor="let item of elements;let i = index"
                    class="overlay-content" id="{{i}}"
                    [ngStyle]="{ left: item.config.pos.x + 'px', top: item.config.pos.y + 'px' }" cdkDrag
                    (cdkDragStarted)="startDragging($event,i)" (cdkDragEnded)="endDragging($event,i)"
                    [cdkDragFreeDragPosition]="item?.config?.pos">
                    {{item?.config.text}}
                </div>
            </div>
        </div>
    </div>
</div>