
    <form #loginForm="ngForm" (ngSubmit) = "onSubmit(loginForm?.valid)">
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="password">
        </div>
        <div class="d-grid">
            <button type="submit"  class="btn btn-lg btn-primary border-0 login_btn">Login</button>
        </div>
    </form>