
<nav class="bg-white sidebar vh-100" #menu>
    <!-- <button class="sidebar__togglebtn d-none d-xl-block" (click)="toggleSidebar()"><span class="icon-left-arrow sidebar__togglebtn__open" [ngClass]="closeSidebar ? 'sidebar__togglebtn__collapse':''"><i class="icon-right-arrow" style="transform: rotate(90deg);"></i> </span></button> -->
  
    <ul class="navbar-nav sidebar__container">
        <ng-container *ngFor="let menu of menuItems">
            <li class="nav-item" [attr.aria-expanded]="" aria-controls="collapseBasic">
                <a class="nav-link sidebar__link position-relative"  [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact: false}" [routerLink]="[menu['route']]"><span class="sidebar__icon" [ngClass]="[menu['icon']]"></span><span>{{menu['name']}}</span>
                <i class="fa submenu__icon position-absolute" [ngClass]="menu.isCollapsed ? 'fa-caret-right' : 'fa-caret-down'" *ngIf="menu.children"></i>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
