<div class="parent-div">
    <div id="azuremediaplayer" class="azuremediaplayer amp-default-skin"></div>
    <div id="canvas-wrapper">
        <div #canvas class="canvas-container">
            <div cdkDragBoundary=".canvas-container" *ngFor="let item of elements;let i = index"
                class="overlay-content {{item.config.effect}}" id="{{i}}" [ngStyle]="{ 
                'left': item.config.position.x + 'px', 
                'top': item.config.position.y + 'px', 
                'color': item.config.color,
                'font-size': item.config.font_size + 'px',
                'width': item.config.width + 'px',
                'height': item.config.height + 'px',
                'font-family': item.config.font_family,
                'font-style': item.config.font_style,
            }" cdkDrag (cdkDragStarted)="startDragging($event,i)" (cdkDragEnded)="endDragging($event,i)"
                [cdkDragFreeDragPosition]="item?.config?.position" (click)="setElementForConfig(i)">
                {{item?.config.text}}
            </div>
        </div>
    </div>
</div>