<div class="properties component-styling">
    <label class="mb-3 f-size-14">Component Styling</label>
    <div class="col mb-3">
        <div class="form-group">
            <label class="light-grey">Dimensions</label>
            <div class="row">
                <div class="col-6" *ngIf="config?.show_width">
                    <label>Width</label>
                    <input class="form-control mar-b-4" type="number" name="width" [(ngModel)]="element.width"
                        appNumberOnly />
                </div>
                <div class="col-6" *ngIf="config?.show_height">
                    <label>Height</label>
                    <input class="form-control mar-b-4" type="number" name="height" [(ngModel)]="element.height"
                        appNumberOnly />
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="col my-3">
        <div class="form-group">
            <label class="light-grey">Text</label>
            <div class="row">
                <div class="col-12 mb-1" *ngIf="config?.show_font_family">
                    <label>Font Family</label>
                    <input class="form-control mar-b-4" type="text" name="fontfamily" disabled
                        [(ngModel)]="element.font_family" />
                </div>
                <div class="col-6" *ngIf="config?.show_font_size">
                    <label>Font Size</label>
                    <input class="form-control mar-b-4" type="text" name="fontsize" disabled
                        [(ngModel)]="element.font_size" />
                </div>
                <div class="col-6" *ngIf="config?.show_font_style">
                    <label>Font Style</label>
                    <input class="form-control mar-b-4" type="text" name="fontstyle" disabled
                        [(ngModel)]="element.font_style" />
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="col my-3">
        <div class="form-group">
            <label class="light-grey">Colour</label>
            <div class="row d-flex align-items-center mb-3" *ngIf="config?.show_color">
                <div class="col-3">
                    <input class="form-control color-box" type="color" name="color" [(ngModel)]="element.color" />
                </div>
                <div class="col-3 p-0 f-size-12">Text</div>
                <div class="col offset-4">
                    <img src="assets/images/video-config/color-picker.svg">
                </div>
            </div>
            <div class="row d-flex align-items-center" *ngIf="config?.show_bg_color">
                <div class="col-3">
                    <input class="form-control color-box" type="color" name="background"
                        [(ngModel)]="element.background" />
                </div>
                <div class="col-3 p-0 f-size-12">Background</div>
                <div class="col offset-4">
                    <img src="assets/images/video-config/color-picker.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
<div class="properties effects" *ngIf="config?.show_effect">
    <label class="mb-3 f-size-14">Effects</label>
    <div class="col mb-3">
        <div class="form-group">
            <label>Effect Style</label>
            <select class="form-control" name="effectstyle" [(ngModel)]="element.effect">
                <option value="" selected disabled>Select</option>
                <option *ngFor="let effect of video.allEffects">{{effect}}</option>
            </select>
        </div>
    </div>
    <div class="divider"></div>
</div>