<div class="properties component-styling">
    <label class="mb-3 f-size-14">Component Styling</label>
    <div class="mb-3">
        <label class="light-grey">Dimensions</label>
        <div class="row">
            <div class="col-6" *ngIf="config?.show_width">
                <label>Width</label>
                <input class="form-control form-control-sm mar-b-4" type="number" name="width"
                    [(ngModel)]="element.width" appNumberOnly />
            </div>
            <div class="col-6" *ngIf="config?.show_height">
                <label>Height</label>
                <input class="form-control form-control-sm mar-b-4" type="number" name="height"
                    [(ngModel)]="element.height" appNumberOnly />
            </div>
        </div>
    </div>

    <div class="divider"></div>
    <div class="mb-3">
        <label class="light-grey">Text</label>
        <div class="row">
            <div class="col-12 mb-1" *ngIf="config?.show_font_family">
                <label>Font Family</label>
                <select name="fontfamily" class="form-select form-select-sm" [(ngModel)]="element.font_family"
                    disabled="">
                    <option value="Open Sans">Open Sans</option>
                </select>
            </div>
            <div class="col-6" *ngIf="config?.show_font_size">
                <label>Font Size</label>
                <input class="form-control form-control-sm mar-b-4" type="number" name="fontsize"
                    [(ngModel)]="element.font_size" />
            </div>
            <div class="col-6" *ngIf="config?.show_font_style">
                <label>Font Style</label>
                <input class="form-control form-control-sm mar-b-4" type="text" name="fontstyle" disabled
                    [(ngModel)]="element.font_style" />
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="mb-3">
        <label class="light-grey">Colour</label>
        <div class="row d-flex align-items-center mb-3" *ngIf="config?.show_color">
            <div class="col-3">
                <span class="form-control form-control-sm color-box" [(colorPicker)]="element.color"
                    [style.background]="element.color"></span>
            </div>
            <div class="col-3 p-0 f-size-12">Text</div>
            <div class="col offset-4">
                <img src="assets/images/video-config/color-picker.svg">
            </div>
        </div>
        <div class="row d-flex align-items-center" *ngIf="config?.show_bg_color">
            <div class="col-3">

                <span class="form-control form-control-sm color-box" [(colorPicker)]="element.background"
                    [style.background]="element.background"></span>
            </div>
            <div class="col-3 p-0 f-size-12">Background</div>
            <div class="col offset-4">
                <img src="assets/images/video-config/color-picker.svg">
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>
<div class="properties effects" *ngIf="config?.show_effect">
    <label class="mb-3 f-size-14">Effects</label>
    <div class="mb-3">
        <label>Effect Style</label>
        <select class="form-select form-select-sm" [(ngModel)]="element.effect">
            <option value="" selected disabled>Select</option>
            <option *ngFor="let effect of video.allEffects">{{effect}}</option>
        </select>
    </div>
    <div class="divider"></div>
</div>