<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<nav class="navbar bg-white header d-none d-xl-block">
  <div class="container-fluid align-items-center">
    <div class="header__left logo">
      <a class="navbar-brand d-inline-block p-0 m-0" href="#">
        <img src="assets/images/logo.svg" height="26" alt="Vingage" />
      </a>
      <h2 class="m-0 d-inline-block fw-normal display_heading">{{headTitle|| ""}}</h2>
    </div>
    <div class="header__right user btn-group">
      <div class=" text-end me-3">
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="openModalWithComponent()">Create
          Template</button>

      </div>
      <div dropdown>
        <button id="user-dropdown" dropdownToggle type="button"
          class="btn btn-primary rounded-circle border-0 p-0 user__icon text-uppercase"
          aria-controls="user-dropdown-area">T<span class="caret"></span>
        </button>
        <ul id="user-dropdown-area" *dropdownMenu class="dropdown-menu border-0 user__dropdown p-0" role="menu"
          aria-labelledby="user-dropdown">
          <li role="menuitem">
            <a class="dropdown-item"><i class="ico icon-Profile"></i> Test</a>
          </li>
          <li *ngFor="let nav of userDropdown" role="menuitem">
            <a class="dropdown-item" [routerLink]="[nav['route']]"><i class="fa fa-{{nav['icon']}}"></i>
              {{nav['name']}}</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="javascript:void(0)" routerLink="/account/login"><i
                class="icon icon-logout"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>