.config-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .template-name {
    font-weight: 500;
  }
  .template-btn {
    .btn {
      width: 82px;
    }
  }
  .mgn-r-12 {
    margin-right: 12px;
  }
  .mgn-r-120 {
    margin-right: 120px;
  }
}
