<div class="row">
    <div class="col-md-12 table_listing__container">
        <div class="mb-3">

            <h6 class="f-size-18 text-600">Template</h6>
        </div>
        <ng-container *ngIf="videoList.length; else nodata">
            <div class="row">
                <div class="col-md-3" *ngFor="let video of videoList">
                    <div class="card box_shadow border-0 rounded-3 position-relative mb-3" >
                        <div dropdown class="position-absolute card_dropdown"> 
                            <button id="user-dropdown" dropdownToggle type="button" class="btn btn-primary  text-uppercase" aria-controls="user-dropdown-area">...<span class="caret"></span>
                            </button>
                            <ul id="user-dropdown-area" *dropdownMenu class="dropdown-menu dropdown-menu-right border-0 p-0"
                                role="menu" aria-labelledby="user-dropdown">
                                <li role="menuitem">
                                  <a class="dropdown-item"><i class="ico icon-Profile"></i> Copy</a>
                                  <a class="dropdown-item"><i class="ico icon-Profile"></i> Delete</a>
                                </li>
                            </ul>
                          </div>


                        <img class="card-img-top" src="assets/images/default_thumb.svg" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title text-700">{{video?.name}}</h6>
                            <p class="card-text">{{video.description}}</p>
                            <div class="row">
                                <div class="col-6"><a href="#" class="btn btn-outline-primary d-block">Preview</a> </div>
                                <div class="col-6"><a href="#" class="btn btn-primary d-block"
                                        routerLink="/video-config/{{video.id}}">Edit</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #nodata>
            No data found!
        </ng-template>

        <ng-template #template>
            <div class="modal-body text-center">
                <p>Are you sure you want to delete this channel?</p>
                <button type="button" class="btn btn-default" (click)="deleteTemplate()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </ng-template>
    </div>
</div>