/* Sidebar Styles */

.sidebar {
  background-color: #252627;
  color: #cccaca;
  width: 311px;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  overflow-y: auto;
  display: flex;
  ul {
    li {
      &:first-child {
        margin-top: 19px;
      }
      a {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.menu-list,
.submenu-list {
  cursor: pointer;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #18191a;
  li {
    &.active {
      background: #333435;
    }
    a {
      width: 62px;
    }
  }
}
.submenu-list {
  margin-top: 19px;
  padding: 4px 18px;
  width: 100%;
  li {
    a {
      width: 211px;
      height: 34px;
      margin: 14px 0 8px;
      padding: 6px 73px 6px 74px;
      border-radius: 4px;
      background-color: #333435;
    }
  }
}
