<nav class="sidebar">
  <ul class="menu-list">
    <li *ngFor="let item of menuList" [class.active]="selectedMenu.type === item.type" class="menu-item">
      <a (click)="setMenuActive(item)">
        <img src="assets/images/video-config/{{ item.icon }}.svg">
      </a>
    </li>
  </ul>
  <ul *ngIf="selectedMenu" class="submenu-list cursor-pointer">
    <p class="f-size-12">Click text to add to page</p>
    <li *ngFor="let child of selectedMenu.children">
      <a (click)="addElement(child)" [ngStyle]="{'font-size':child.config.font_size+'px'}">{{ child.name }}</a>
    </li>
  </ul>
</nav>