<div class="card mb-3 border-0">
    <div class="card-body p-4">
        <!-- Modal Header -->
        <div class="modal-header border-0">
            <h6 class="text-center text-600">Create New Template</h6>

            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>

        <div class="stepper-wrapper">
            <div class="stepper-item active">
                <div class="step-counter"></div>
                <div class="step-name">First</div>
            </div>
            <div class="stepper-item" [ngClass]="{'completed': currentStep == 2}">
                <div class="step-counter"></div>
                <div class="step-name">Second</div>
            </div>
        </div>
        <!-- Create Template Form -->
        <form [formGroup]="createTemplateForm" (ngSubmit)="createTemplate()" *ngIf="currentStep == 1">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="name"
                    placeholder="Name">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" formControlName="description" id="description"
                    aria-describedby="description" placeholder=""></textarea>
            </div>

            <div class="text-end mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="createTemplateForm.invalid">Next</button>
                &nbsp;
            </div>
        </form>
        <!-- Upload Video Form -->
        <form [formGroup]="uploadVideoForm" (ngSubmit)="getPresignedAndUploadVideo()" *ngIf="currentStep == 2">
            <div class="upload-box position-relative mb-3">
                <label for="file" class="form-label btn btn-outline-primary" *ngIf="!selectedFile?.name">File
                    Upload</label>
                <label class="form-label d-flex align-items-center" *ngIf="selectedFile?.name">
                    {{selectedFile?.name}}
                    <button type="button" (click)="resetFile(video)" class="btn-close close pull-right f-size-10 "
                        aria-label="Close">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </label>
                <input class="position-absolute" #video hidden type="file" (change)="onFileChange($event)" id="file"
                    formControlName="file">
            </div>
            <div class="text-end mb-3">
                <button type="submit" class="btn btn-primary" [disabled]="uploadVideoForm.invalid">Submit</button>
                &nbsp;
            </div>
        </form>

    </div>
</div>