.configuration-box {
  display: block;
  height: 100vh;
  width: inherit;
  background-color: #18191a;
  margin-left: 1px;
  color: #cccaca;
  .configuration-header {
    padding: 17px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: inline-flex;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.active {
          a {
            color: #ffffff;
          }
          &::after {
            width: 39px;
            border-bottom: 1px solid #ffffff;
            content: "";
            height: 5px;
          }
        }
        a {
          text-decoration: none;
          color: #cccaca;
        }
      }
    }
  }
  .configuration-body {
    overflow-y: auto;
    max-height: 80vh;
    padding: 3px 20px;
    .added-elements {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgb(255 255 255 / 20%);
      .element-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
      }
      .actions {
        img {
          margin: 0px 8px;
        }
      }
    }
  }
}
