<div class="configuration-box">
    <ng-container *ngIf="allElements.length">
        <div class="configuration-header">
            <ul>
                <li class="mar-r-40" [ngClass]="{'active': activeTabIndex === 1}" (click)="activeTab(1)"
                    *ngIf="element">
                    <a href="javascript:void(0)">Properties</a>
                </li>
                <li [ngClass]="{'active': activeTabIndex === 2 || (allElements.length && !element)}"
                    (click)="activeTab(2)">
                    <a href="javascript:void(0)"> All Elements({{allElements.length}})</a>
                </li>
            </ul>
        </div>
        <div class="configuration-body">
            <!-- For setting properties -->
            <ng-container *ngIf="activeTabIndex === 1">
                <div [ngSwitch]="setElementDataForConfig?.type">
                    <div *ngSwitchCase="'text'">
                        <app-text-configurations [element]="element"></app-text-configurations>
                    </div>
                    <div *ngSwitchCase="'button'">
                        <app-button-configurations [element]="element"></app-button-configurations>
                    </div>
                </div>
            </ng-container>
            <!-- For Elements -->
            <ng-container *ngIf="activeTabIndex === 2 || (allElements.length && !element)">
                <div *ngFor="let item of allElements;let i =index">
                    <div class="added-elements">
                        <span><img src="assets/images/video-config/icons/icon-{{item.type}}.svg"></span>
                        <span class="element-text" title="{{item?.config?.text}}">{{item?.config?.text}}</span>
                        <span class="actions">
                            <img class="cursor-pointer" src="assets/images/video-config/delete.svg"
                                (click)="deleteElement(i)">
                            <img class="cursor-pointer" src="assets/images/video-config/edit.svg"
                                (click)="editElement(i)">
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>