.configuration-box {
  display: block;
  height: 100vh;
  width: inherit;
  background-color: #18191a;
  margin-left: 1px;
  color: #cccaca;
  .configuration-header {
    padding: 17px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: inline-flex;
      li {
        display: flex;
        flex-direction: column;
        &.active {
          a {
            color: #ffffff;
          }
          &::after {
            width: 39px;
            border-bottom: 1px solid #ffffff;
            content: "";
            height: 5px;
            margin-left: 10px;
          }
        }
        a {
          text-decoration: none;
          color: #cccaca;
        }
      }
    }
  }
  .configuration-body {
    overflow-y: auto;
    max-height: 80vh;
  }
}
