:root{
    --sa-primaryColor: #1867ff;
    --sa-primaryLightColor: #e6efff;
    --sa-greyLightColor: #f2f4f8;
    --sa-secondaryColor: #569250;
    --sa-pageHeaderHeight: 48px;
    --sa-fontSize:14px;
    --sa-fontSizeTw:12px;
    --sa-fontSizeTh:13px;
    --sa-headerHeight:50px;
    --sa-navSmWidth: 80px;
    --sa-navWidth: 240px;
    --sa-bgBody: #f8f9fa;
    --sa-bgHover:rgba(86, 145, 80, 0.07);
    --sa-greenColor:#569250;
    --sa-redColor:#ff4848;
    --sa-lightGreenColor:#6db97c;
    --sa-gray:#e4eaf0;
    --sa-mt:9px;
    --sa-skyBlue:#1867ff;
    --sa-borderColor:rgba(65, 69, 75, 0.11);
    --sa-white:#ffffff;
    --sa-black:#000000;
    --sa-inputCmHeight:24px;
    --sa-balck:#000;
    --sa-gradient:linear-gradient(to bottom, #fff, #ededed);
    --sa-border:solid 1px rgba(65, 69, 75, 0.11);
    --sa-formBorder:rgba(0, 0, 0, 0.36);
    --sa-cardShadow: 0 0 12px 0 rgba(0, 0, 0, 0.03);  
    --sa-borderColor:rgba(218, 222, 226, 0.49);  
    --sa-table-strip:#fafafa;  
    --sa-fontFamily:"helvetica"
}