@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
// @import "font_open_sans"; // Fonts used from assets folder as ttf
@import "variable";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../icomoon/style.css";
@import "node_modules/ngx-toastr/toastr";

body {
  font-family: var(--sa-fontFamily);
  background-color: #f8f9fa;
  height: 100vh;
  font-size: 14px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 1025px) {
  body {
    &.page-pd {
      .pages__container {
        padding-left: calc(var(--sa-navSmWidth) + 20px);
      }
      .nav-link {
        column-gap: 2rem;
      }
      .header {
        &__left {
          .display_heading {
            padding-left: 30px !important;
          }
        }
      }
    }
  }
}
.breadcrumb {
  margin-top: 22px;
  &__first {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--sa-black);
    &.active {
      color: var(--sa-black);
    }
  }
  &__second {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--sa-skyBlue);
    margin-top: 5px;
    a {
      color: var(--sa-skyBlue);
    }
  }
  .breadcrumb-item::before {
    color: var(--sa-black);
  }
}
.btn {
  font-size: 14px;
  &:hover {
    background-color: var(--sa-skyBlue);
    border-color: var(--sa-primaryColor);
  }
  &:focus {
    background-color: var(--sa-skyBlue);
    color:#fff ;
  }
  &:active {
    background-color: var(--sa-skyBlue) !important;
    border-color: var(--sa-primaryColor) !important;
  }
}
.btn-primary {
  background-color: var(--sa-primaryColor);
  border-color: var(--sa-primaryColor);
}
.box_shadow {
  box-shadow: var(--sa-cardShadow);
}
::-webkit-input-placeholder {
  font-size: 14px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
}

:-ms-input-placeholder {
  font-size: 14px;
}
.form-label {
  margin-bottom: 2px;
}
.search_box {
  input {
    padding: 0.375rem 0.75rem 0.375rem 10px;
    font-weight: lighter;
    border: solid 1px #7c8db5;
  }
  span {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
.card_border {
  border: 1px solid var(--sa-borderColor);
}
.top_table_border {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}
.page_heading {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #000;
  margin-bottom: 21px;
  margin-top: 29px;
}
.btn-primary {
  background-color: var(--sa-skyBlue);
}
.btn_shadow {
  box-shadow: 0 3px 10px 0 rgba(18, 121, 250, 0.36);
}

.number_badge {
  position: absolute;
  left: 30px;
  width: 26px;
  height: 26px;
  background-color: var(--sa-primaryLightColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 19px;
}

.ng-submitted .ng-invalid,
.ng-touched .ng-touched.ng-invalid,
.ng-submitted ng-select.ng-invalid .ng-select-container,
.ng-touched ng-select.ng-touched.ng-invalid .ng-select-container {
  border-color: red;
  ~ .text-danger-hide {
    display: block;
  }
}
.invalid-msg {
  font-size: 12px;
  color: red;
}
.text-danger-hide {
  display: none;
}

//New CSS

$font-size: (10, 12, 14, 15, 16, 18, 20, 22, 24);
// Font Size
@each $font in $font-size {
  .f-size-#{$font} {
    font-size: #{$font}px;
  }
}
$font-weight: (400, 500, 600, 700);
// Font Weight
@each $font in $font-weight {
  .text-#{$font} {
    font-weight: #{$font};
  }
}
// Margins
$margin-left: (40);
$margin-right: (15, 40);
$margin-top: (5, 10, 30, 35, 38, 60, 80);
$margin-bottom: (4, 10);
$margin-top-bottom: (10, 15, 30);
$margin-left-right: ();
@each $margin in $margin-left {
  .mar-l-#{$margin} {
    margin-left: #{$margin}px;
  }
}
@each $margin in $margin-right {
  .mar-r-#{$margin} {
    margin-right: #{$margin}px;
  }
}
@each $margin in $margin-top {
  .mar-t-#{$margin} {
    margin-top: #{$margin}px;
  }
}
@each $margin in $margin-bottom {
  .mar-b-#{$margin} {
    margin-bottom: #{$margin}px;
  }
}
@each $margin in $margin-top-bottom {
  .mar-tb-#{$margin} {
    margin-top: #{$margin}px;
    margin-bottom: #{$margin}px;
  }
}
@each $margin in $margin-left-right {
  .mar-lr-#{$margin} {
    margin-left: #{$margin}px;
    margin-right: #{$margin}px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
label {
  margin-bottom: 8px;
  font-size: 12px;
}
.form-control {
  height: 30px;
  font-size: 12px;
  padding: 0.375rem;
  &:disabled {
    background-color: #fff;
  }
}
.light-grey {
  color: var(--sa-greyLightColor) !important;
}
.divider {
  height: 1px;
  opacity: 0.06;
  background-color: #fff;
}
.form-group {
  label {
    color: #fff;
  }
}
.properties {
  margin-bottom: 16px;
}
/* CSS for Fade-In Effect */
.fade-in {
  animation: fadeInAnimation 1s ease-in-out backwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CSS for Fade-Out Effect */
.fade-out {
  animation: fadeOutAnimation 1s ease-in-out backwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
