<div class="container">
    <div class="row justify-content-center align-items-center account mt-4 mt-md-0">
        <div class="col-md-6">
            <div class="left-wrap">
                <div class="telecom circle-hover">
                    <div class="circle-wrap ">
                        <img src="../../assets/icons/telecom.svg"/>
                        <br/> Telecom
                    </div>
                    <div class="hover-content">Be omnipresent with Surbo</div>
                </div>
    
    
                <div class="health circle-hover">
                    <div class="circle-wrap ">
                        <img src="../../assets/icons/health.svg"/>
                        <br/> Health
                    </div>
                    <div class="hover-content-small-left">Stay fit with Surbo</div>
                </div>
    
                <div class="automobile circle-hover">
                    <div class="circle-wrap ">
                        <img src="../../assets/icons/automobile.svg"/>
                        <br/> Automobile
                    </div>
                    <div class="hover-content-small-left automobile-small-left">Chatbot in the driving seat</div>
                </div>
    
    
                <div class="circle-hover hospitality">
                    <div class="circle-wrap">
                        <img src="../../assets/icons/hospitality.svg"/>
                        <br/> Hospitality
                    </div>
                    <div class="hover-content-small-left">Luxury now has a personality</div>
                </div>
    
                <div class="circle-hover food-tech">
                    <div class="circle-wrap">
                        <img src="../../assets/icons/food-tech.svg"/>
                        <br/> Food Tech
                    </div>
                    <div class="hover-content-small-left  food-small-left">Food Tech simplified with a chatbot</div>
                </div>
    
                <div class="circle-hover travel">
                    <div class="circle-wrap">
                        <img src="../../assets/icons/travel.svg"/>
                        <br/> Travel
                    </div>
                    <div class="hover-content">Go Places with a travel Chatbot</div>
                </div>
    
    
                <div class="circle-hover entertain">
                    <div class="circle-wrap circle-wrap-2 ">
                        <img src="../../assets/icons/entertainment.svg"/>
                        <br/> Entertainment
                    </div>
                    <div class="hover-content-small-left">Chat. Book. Enjoy!</div>
                </div>
    
                <div class="circle-hover cust-support">
                    <div class="circle-wrap circle-wrap-2 ">
                        <img src="../../assets/icons/customer_support.svg"/>
                        <br/> Customer Support
                    </div>
                    <div class="hover-content-small-left skip-small-left">Skip the que with Surbo</div>
                </div>
    
                <div class="hr circle-hover">
                    <div class="circle-wrap circle-wrap-2 ">
                        <img src="../../assets/icons/human_resources.svg"/>
                        <br/> Human Resources
                    </div>
                    <div class="hover-content-big-right">HRM with a chatbot</div>
                </div>
    
                <div class="circle-hover ecommerce">
                    <div class="circle-wrap">
                        <img src="../../assets/icons/ecommerce.svg"/>
                        <br/> Ecommerce
                    </div>
                    <div class="hover-content-small-left   ecommerce-small-left">Conversational commerce with a Chatbot</div>
                </div>
    
                <div class="banking_ins circle-hover">
                    <div class="circle-wrap circle-wrap-2 ">
                        <img src="../../assets/icons/bank_insurance.svg"/>
                        <br/> Bank & Insurance
                    </div>
                    <div class="hover-content-big-left bank_big_left">Instant banking with Surbo and Insurance by an assistive chatbot
                    </div>
                </div>
    
    
            </div>
        </div>
        <div class="col-md-6">
            <div class="account__right">
                <div class="logo mb-4">
                    <img src="../../assets/images/login.png" height="22"  alt="Login" class="text-align-left"/>
                    <h2 class="welcome_text mt-3">Welcome back!</h2>
                </div>
                 <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>