body{
    margin-top: 0 !important;
    padding-left: 0 !important;
}
.account{
    @media screen and (min-width: 768px){
        height: calc(100vh - 1.5rem);
    }
    
    &__right{
        width: 100%;
        max-width: 374px;
        margin: auto;
        @media screen and (min-width: 1025px){
            max-width: 374px;
            margin: auto;
        }
       .welcome_text{
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: normal;
        text-align: left;
        color: #000;
       } 
    }
}

/*--------------------------------
Login page css

----------------------------------*/

input {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ccc
}

::-moz-placeholder {
    color: #ccc;
}

:-ms-input-placeholder {
    color: #ccc;
}

:-moz-placeholder {
    color: #ccc;
}

.signup-wrapper {
    max-width: 990px;
    width: 100%;
    margin: 0px auto;
}

.header {
    width: 100%;
    height: 100px;
    padding: 20px 0
}


.left-wrap {
    width: 100%;
    max-width: 550px;
    margin-top: -30px;
    height: 520px;
    position: relative;
    display: inline-block;
    // background: url(../../assets/icons/network.png); 
    background-size: cover;
    background-repeat: no-repeat
}

.circle-wrap {
    background: #f6f6f6;
    position: absolute;
    color: #000;
    width: 80px;
    height: 80px;
    padding-top: 15px;
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s;
    box-shadow: 0px 0px 1px 2px #e2e2e2;
    font-size: 13px;
    z-index: 9;
    border: 1px solid #fff;
}

.circle-wrap:hover {
    background: #4d89f4;
    color: #fff;
    cursor: pointer
}

.circle-wrap:hover img {
    filter: brightness(0) invert(1);
}

.circle-wrap-2 {
    height: 92px;
    padding-top: 15px;
    width: 92px;
}

.telecom {
    left: 260px;
    top: 20px;
}

.fmcg {
    top: 58px;
    right: 140px;
}

.automobile {
    left: 113px;
    top: 100px;
}

.logistics {
    left: 48px;
    top: 165px;
}

.ecommerce {
    left: 40px;
    top: 220px;
}

.health {
    right: 15px;
    top: 98px;
}

.hospitality {
    right: -21px;
    bottom: 220px;
}

.travel {
    bottom: 12px;
    right: 91px;
}

.consumer-ins {
    left: 140px;
    top: 214px;
}

.food-tech {
    right: 23px;
    bottom: 119px;
}

.entertain {
    left: 205px;
    bottom: 14px;
}

.banking_ins {
    left: 80px;
    bottom: 100px;
}

.cust-support {
    bottom: 165px;
    left: 259px;
}

.hr {
    left: 259px;
    top: 150px;
}

.notifications {
    left: 253px;
    bottom: 115px;
}


.hover-content {
    background-color: #f6f6f6;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 23px;
    transition: all ease-in-out 0.4s;
    margin-left: 59px;
    opacity: 0;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
    width: 150px;
    height: auto;
    padding-top: 5px;
}


.hover-content-big-right {
    background-color: #f6f6f6;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 26px;
    transition: all ease-in-out 0.4s;
    margin-left: 70px;
    opacity: 0;
    z-index: 1;
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
    width: 100px;
    height: 37px;
    padding-top: 5px;
    line-height: normal;
}

.hover-content-small-left {
    background-color: #f6f6f6;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 21px;
    transition: all ease-in-out 0.4s;
    margin-left: 0px;
    left: 0;
    opacity: 0;
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    width: 180px;
    height: 37px;
    padding-top: 5px;
    line-height: normal;
}

.bank_big_left {
    width: 162px !important;
    height: 54px !important;
}



.circle-hover:hover .bank_big_left, .circle-hover:hover .bank_big_left {
    width: 250px !important;
    left: -209px !important;
    height: 42px !important;
}

.hover-content-big-left {
    background-color: #f6f6f6;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: 26px;
    transition: all ease-in-out 0.4s;
    margin-left: 0px;
    left: 0;
    opacity: 0;
    z-index: 1;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    width: 100px;
    height: 37px;
    padding-top: 5px;
    line-height: normal;
}

.circle-hover {
    position: absolute;
    z-index: 9;
    width: 80px;
    height: 80px;
}

.circle-hover:hover .hover-content,
.circle-hover:hover .hover-content-big-right {
    display: block;
    transition: all ease-in-out 0.4s;
    padding-left: 30px;
    opacity: 1
}

.circle-hover:hover .hover-content-small-left,
.circle-hover:hover .hover-content-big-left {
    display: block;
    transition: all ease-in-out 0.4s;
    padding-left: 20px;
    left: -134px;
    opacity: 1
}

.right-wrap {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}




.circle-hover:hover .skip-small-left,
.circle-hover:hover .skip-small-left {     left: -160px !important;   }
.circle-hover:hover .ecommerce-small-left,
.circle-hover:hover .ecommerce-small-left {     left: -173px !important;   }

.circle-hover:hover .automobile-small-left,
.circle-hover:hover .automobile-small-left {     left: -173px !important;   }



.circle-hover:hover .food-small-left, .circle-hover:hover .food-big-left {
    left: -172px;
    top: 30px;
}






.top-tabs {
    width: 100%;
    margin-top: 20px;
}

.top-tabs a {
    float: left;
    width: 50%;
    background: #f2f2f2;
    padding: 13px 0;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none
}

.top-tabs a.active {
    background: #569250;
    color: #ffffff;
}

.top-tabs:after {
    content: '';
    display: block;
    position: relative;
    clear: both
}

.sign-up {
    width: 100%;
    margin: 10px 0;
    display: block
}

.sign-up input[type="text"],
.sign-up input[type="password"],
.login-wrap input[type="text"],
.login-wrap input[type="password"], 
.sign-up input[type="tel"] {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 6px 12px;
    color: #999;
}
.form-group input.error {
    border-color: #FF7C7C;
}
.phone-input .fa-lg{
    position: absolute;
    top: 17px;
}
.sign-up .button,
.login-wrap .button {
    background: #f2f2f2;
    transition: all ease-in-out 0.3s;
    color: #666;
    width: 100%;
    text-align: center;
    height: 55px;
    border: 0px;
    margin: 30px 0 0;
    font-size: 16px;
    cursor: pointer
}


/*.sign-up .button:hover, .login-wrap .button:hover{background:#569250; color:#fff; cursor:pointer}*/

.logo-mid {
    width: 200px;
    position: absolute;
    top: 310px;
    left: 260px;
}

.terms_condition a {
    color: #569250;
    text-decoration: none;
}

.terms_condition {
    margin: 15px 0 0;
    color: #666;
}

.sign-up {
    display: none
}

.login-wrap h4 {
    color: #569250;
    font-weight: normal;
    text-align: center;
    margin: 30px 0 10px;
}

.nav-header {
    display: none;
}

#signup_form .form-group,
#login .form-group{
    position: relative;
    margin-bottom: 15px;
}
#signup_form label,
#login label {
    position: absolute;
    left: 0;
    bottom: -18px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -4px;
    right: -4px;
    color: inherit;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    background: none;
    border: none;
}
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
div#myModal {
    background: rgba(0,0,0,.6);
}
.forgot_password .modal-dialog{
    width:400px;
}
.form-signin{
    margin: 0 20px;
}


.sb-loader {
    position: fixed;
    top: 0;
    right: 18%;
    width: 21%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 99999;
    display: none;
}
.sb-loader .loader {
    border: 6px solid #e6eadb;
    border-top: 6px solid #569250;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@media (max-width: 992px){
    .left-wrap{
        display: none;
    }
    .right-wrap{
        display: block;
        margin: 0 auto;
    }
    .profile-img-card{
        max-height: 30px;
    }
}